# default image name for trunk simple tests
INCEPTOR_IMG: 172.16.1.41:5000/jenkins/inceptor:latest
MYSQL_IMG: 172.16.1.41:5000/jenkins/inceptor:latest
HBASE_IMG: 172.16.1.41:5000/jenkins/hbase:latest
HADOOP_IMG: 172.16.1.41:5000/jenkins/hdfs:latest
YARN_IMG: 172.16.1.41:5000/jenkins/yarn:latest
ZOOKEEPER_IMG: 172.16.1.41:5000/jenkins/zookeeper:latest
KERBEROS_IMG: 172.16.1.41:5000/jenkins/kerberos:latest
SKYDNS_IMG: 172.16.1.41:5000/skydns:20150703-113305
ETCD_IMG: 172.16.1.41:5000/jenkins/etcd:live
TRANSWARP_LICENSE_ZOOKEEPER_QUORUM: 172.16.1.41:2181

KERBEROS: false
