# default image name for trunk simple tests
INCEPTOR_IMG: 172.16.1.41:5000/jenkins/inceptor:testing-latest
MYSQL_IMG: 172.16.1.41:5000/jenkins/inceptor:testing-latest
HBASE_IMG: 172.16.1.41:5000/jenkins/hbase:testing-latest
HADOOP_IMG: 172.16.1.41:5000/jenkins/hdfs:testing-latest
YARN_IMG: 172.16.1.41:5000/jenkins/yarn:testing-latest
ZOOKEEPER_IMG: 172.16.1.41:5000/jenkins/zookeeper:testing-latest
KERBEROS_IMG: 172.16.1.41:5000/jenkins/kerberos:testing-latest
SKYDNS_IMG: 172.16.1.41:5000/skydns:20150703-113305
ETCD_IMG: 172.16.1.41:5000/jenkins/etcd:live
TRANSWARP_LICENSE_ZOOKEEPER_QUORUM: 172.16.1.41:2181

KERBEROS: true
